body {
    margin: 0;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;

}

.hide {
    display: none;
}

p {
    font-size: 2vw;
}

#stage2_txt {
    font-size: 1.4vw;

}

#stage3_txt {
    font-size: 1.4vw;

}



h1 {
    font-size: 3.5vw;
}

.blur {
    filter: blur(1vw);
}

#screen {
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#menu_background {
    background-image: url("assets/baggrundspil.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    pointer-events: none;
}

#menu_foreground {
    background-image: url("assets/nytitelsk%C3%A6rm.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    pointer-events: none;
}

#titel {
    background-image: url("assets/titel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80vw;
    height: 150vw;
    margin: auto;
    position: absolute;
    top: -12vw;
    left: 13vw;
}

#play {
    background-image: url("assets/orangeplayknap.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 15vw;
    margin: auto;
    position: absolute;
    top: 26vw;
    left: 40vw;
}

#play:hover {
    transform: scale(1.1);
}

#settings_screen {
    background-image: url("assets/settingboks.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;

}


#settings_btn {
    background-image: url("assets/ui_settings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10.2vw;
    position: absolute;
    z-index: 3000;
    top: 46vw;
    left: 2vw;

}

#checkmark1 {
    background-image: url("assets/boksmedflueben.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10.2vw;
    position: absolute;
    z-index: 3000;
    top: 26vw;
    left: 61vw;
}

#checkmark2 {
    background-image: url("assets/boksmedflueben.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10.2vw;
    position: absolute;
    z-index: 3000;
    top: 26vw;
    left: 22vw;
}

#checkbox1 {
    background-image: url("assets/boksudenflueben.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10.2vw;
    position: absolute;
    z-index: 3000;
    top: 26vw;
    left: 61vw;
}

#checkbox2 {
    background-image: url("assets/boksudenflueben.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10.2vw;
    position: absolute;
    z-index: 3000;
    top: 26vw;
    left: 22vw;
}

#settings_btn:hover {
    animation-name: settings_rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes settings_rotate {

    100% {
        transform: rotate(360deg);
    }
}

#gameover {
    background-size: cover;

    margin: auto;
    position: absolute;


}

.gameover_screen1 {
    background-image: url("assets/gameoverlvl1.png");
    width: 100%;
    height: 56.25vw;
    top: 0vw;
    left: 0vw;
}

.gameover_screen2 {
    background-image: url("assets/gameoverlvl2.png");
    width: 100%;
    height: 56.25vw;
    top: 0vw;
    left: 0vw;
}

.gameover_screen3 {
    background-image: url("assets/gameoverlvl3.png");
    width: 100%;
    height: 56.25vw;
    top: 0vw;
    left: 0vw;
}

.gameover_front1 {
    background-image: url("assets/Gameover_indhold2%20(1).svg");
    width: 100vw;
    height: 56.25vw;
    top: 0vw;
    left: 0vw;
}

.gameover_front2 {
    background-image: url("assets/Gameover_indhold.svg");
    width: 100vw;
    height: 56.25vw;
    top: 0vw;
    left: 0vw;
}

.gameover_front3 {
    background-image: url("assets/gameover_bad.svg");
    width: 90vw;
    height: 35.25vw;
    top: 13vw;
    left: 10vw;
}



#gameover_foreground {
    background-size: cover;
    margin: auto;
    position: absolute;


}

#levelcomplete {
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 7;

}

.level1complete {
    background-image: url("assets/lvl1complete.png");
}

.level2complete {
    background-image: url("assets/lvl2complete.png");
}

.good_vic {
    background-image: url("assets/victory.png");
}


#restart_btn1 {
    background-image: url("assets/replay.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25vw;
    height: 7.4vw;
    margin: auto;
    position: absolute;
    top: 41.6vw;
    left: 66vw;
    border: 3px white solid;
}

#replay_btn1 {
    background-image: url("assets/replay.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25vw;
    height: 7.4vw;
    position: absolute;
    top: 41.6vw;
    left: 66vw;
    border: 3px white solid;
}

#nextlevel1 {
    background-image: url("assets/next.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    width: 50vw;
    height: 27vw;
    top: 15vw;
    left: 47vw;
}

#nextlevel2 {
    background-image: url("assets/next.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    width: 50vw;
    height: 27vw;
    top: 15vw;
    left: 47vw;
}

#nextlevel3 {
    background-image: url("assets/next.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    width: 50vw;
    height: 27vw;
    top: 15vw;
    left: 47vw;
}



.privat_logo {
    background-image: url("http://privatsnak.dk/media/5990/logo-privatsnak.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18vw;
    height: 14vw;
    margin: auto;
    position: absolute;
    top: 28vw;
    left: 16vw;

}

/*            -------------------- level 1 ---------------------------          */

#game_background {
    background-image: url("assets/messengerlvl1.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    pointer-events: none;
}

#intro1,
#intro2,
#intro3 {
    box-sizing: border-box;
    background-color: orange;
    opacity: 0.8;
    background-size: cover;
    width: 80vw;
    height: 40vw;
    margin: auto;
    position: absolute;
    top: 7vw;
    left: 10vw;
    border: 3px black solid;
    border-radius: 30px;
    padding: 1vw;
    font-family: monospace;
}

#intro1_txt {
    width: 50vw;
    height: 100%;
    text-align: justify;
}

#intro1_play,
#intro2_play,
#intro3_play {
    background-image: url("assets/orangeplayknap.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 20vw;
    height: 13vw;
    left: 68vw;
    top: 33vw;
}


#intro_play:hover {
    transform: scale(1.1);
}

#mes1 {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    overflow: inherit;
}

#mes2 {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    overflow: inherit;
}

#mes_timer {

    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 30vw;
    height: 10vw;
    z-index: 4;
    left: 20vw;
    top: 1vw;
}



.type1 {
    background-image: url("assets/blue2.png");
    width: 19vw;
    height: 11vw;
}

.type2 {
    background-image: url("assets/blue3.png");
    width: 22vw;
    height: 11vw;
}

.type3 {
    background-image: url("assets/blue4.png");
    width: 22vw;
    height: 11vw;
}

.type4 {
    background-image: url("assets/blue3.png");
    width: 22vw;
    height: 11vw;
}


.type5 {
    background-image: url("assets/grey3.png");
    width: 22vw;
    height: 11vw;
}

.type6 {
    background-image: url("assets/grey4.png");
    width: 22vw;
    height: 11vw;
}


.pos1 {
    top: 41vw;
    left: 2vw;


}

.pos2 {
    top: 27vw;
    left: 2vw;


}

.pos3 {
    top: 15vw;
    left: 2vw;


}

.pos4 {
    top: 41vw;
    left: 48vw;

}

.pos5 {
    top: 27vw;
    left: 48vw;

}

.pos6 {
    top: 15vw;
    left: 48vw;

}


.death_ani {
    animation-name: death_ani_kf;
    animation-fill-mode: both;
    animation-duration: 0.5s;

}

.mes_out {
    animation-name: death_ani_kf;
    animation-fill-mode: both;
    animation-duration: 1s;

}

@keyframes death_ani_kf {
    100% {
        transform: scale(0);
    }


}



.mes_in {
    animation-name: mes_in_kf;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes mes_in_kf {

    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


#cutscene1 {
    background-image: url("assets/Gameover_baggrund.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
}

#part1 {
    background-image: url("assets/cutscene1mes.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    pointer-events: none;
}

#part2 {
    background-image: url("assets/cutscene2mes.png");
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
}

#part3 {
    background-image: url("assets/cutscene3mes.png");
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
}

#part4 {
    background-image: url("assets/cutscene4mes.png");
    background-size: 100%;
    width: 100vw;
    height: 56vw;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
}


/*            -------------------- level 2 ---------------------------          */

#drag_game_background {
    background-image: url("assets/Gameover_baggrund.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}


#billede1,
#billede2,
#billede4,
#billede5,
#billede6,
#billede7,
#billede8,
#billede9,
#billede10,
#billede11,
#billede12,
#billede13,
#billede14,
#billede15,
#billede16,
#billede17,
#billede18,
#billede19,
#billede20,
#billede21,
#billede22,
#billede23,
#billede24,
#billede25,
#billede26,
#billede27,
#billede28,
#billede29,
#billede30,
#billede31 {

    position: absolute;
    width: 10vw;
    height: 15vw;
    margin: 1vw;
    margin-top: 3vw;
}

img {
    width: 8vw;
    height: 12vw;
}

.picpos1 {
    top: 2vw;
    left: 3vw;

}

.picpos2 {
    top: 2vw;
    left: 18vw;

}

.picpos3 {
    top: 2vw;
    left: 43vw;

}

.picpos4 {
    top: 2vw;
    left: 68vw;

}

.picpos5 {
    top: 2vw;
    left: 83vw;

}

.picpos6 {
    top: 20vw;
    left: 3vw;

}

.picpos7 {
    top: 20vw;
    left: 18vw;

}

.picpos8 {
    top: 20vw;
    left: 43vw;

}

.picpos9 {
    top: 20vw;
    left: 68vw;

}

.picpos10 {
    top: 20vw;
    left: 83vw;

}


#folder {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 1vw;
    top: 40vw;
    left: 45vw;

}

.folder_stage1 {
    background-image: url("assets/nymappee.svg");
    width: 7vw;
    height: 10vw;
}

.folder_stage2 {
    background-image: url("assets/n%C3%A6stenmappe.svg");
    width: 7vw;
    height: 10vw;
}

.folder_stage3 {
    background-image: url("assets/n%C3%A6stenn%C3%A6stenmappe.svg");
    height: 13vw;
    width: 10vw;

}

.folder_stage4 {
    background-image: url("assets/n%C3%B8genmappee.svg");
    width: 7vw;
    height: 10vw;
}




#score_icon {
    background-image: url("assets/score_icon.svg");
    position: absolute;
    background-repeat: no-repeat;
    width: 2vw;
    height: 22vw;
    padding: 10px;
    top: 46vw;
    left: 84vw;
}

#timer {
    background-color: gray;
    position: absolute;
    width: 0vw;
    height: 5vw;
    top: 52vw;
    left: 0vw;
    opacity: 0.8;
}

.timer_ani {
    animation-name: timer_drag_kf;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 20s;
}

@keyframes timer_drag_kf {
    100% {
        width: 100vw;
    }
}

#speak_bub {
    transform: rotate(-10deg);
    background: white;
    border-radius: 10px;
    position: absolute;
    font-size: 5vw;
    width: 15vw;
    height: 7vw;
    padding: 10px;
    top: 35vw;
    left: 80vw;
}

.fade_out {
    animation-name: fade_in_kf;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: reverse;
    animation-duration: 1s;
}

.fade_in2 {
    animation-name: fade_in_kf;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.fade_in {
    animation-name: fade_in_kf;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 3s;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/*            -------------------- level 3 ---------------------------          */

.ani_pause {
    animation-play-state: paused;
}


#space_timer_backgorund {
    background-image: url(assets/bars/time_hvid2.svg);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    width: 40vw;
    height: 5vw;
    top: 3.1vw;
    left: 3vw;
}

#space_score_background {
    background-image: url(assets/bars/time_hvid2.svg);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40vw;
    width: 39.60vw;
    height: 6vw;
    top: 3vw;
    left: 57.7vw;
}

#space_score {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40vw;
    width: 40vw;
    height: 5vw;
    top: 3vw;
    left: 57vw;
}

#space_fill {
    background-color: limegreen;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    width: 0;
    height: 4vw;
    top: 3.2vw;
    left: 3.2vw;
    border-radius: 0.8vw;
}

#space_game_background {
    background-image: url("assets/Gameover_baggrund.png");
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    pointer-events: none;

}

.fill_animation {
    animation-name: fill_kf;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

#trash {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 40vw;
    width: 40vw;
    height: 40vw;
    top: 18vw;
    left: 45vw;
}

.trash_1 {
    background-image: url("assets/skrald1.svg");
}

.trash_2 {
    background-image: url("assets/skrald2.svg");
}

.trash_3 {
    background-image: url("assets/skrald3.svg");
}

.trash_4 {
    background-image: url("assets/skrald4.svg");
}

@keyframes fill_kf {
    0% {
        width: 0;
    }

    100% {
        width: 39.6vw;

    }
}

#space_timer {
    background-image: url(assets/bars/timebarhvid1.svg);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    width: 40vw;
    height: 5vw;
    top: 3vw;
    left: 3vw;
}

.power1 {
    background-image: url("assets/bars/power1.svg");
}

.power2 {
    background-image: url("assets/bars/power2.svg");
}

.power3 {
    background-image: url("assets/bars/power3.svg");
}

.power4 {
    background-image: url("assets/bars/power4.svg");
}

.power5 {
    background-image: url("assets/bars/power5.svg");
}

.power6 {
    background-image: url("assets/bars/power6.svg");
}

.power7 {
    background-image: url("assets/bars/power7.svg");
}

.power8 {
    background-image: url("assets/bars/power8.svg");
}

.power9 {
    background-image: url("assets/bars/power9.svg");
}

.power10 {
    background-image: url("assets/bars/power10.svg");
}


#alert_screen {
    background-image: url("assets/popupboks.png");
    background-size: 100%;
    width: 90vw;
    height: 40vw;
    top: 10vw;
    left: 5vw;
    position: absolute;
    z-index: 1;
}

#yes_btn {
    background-image: url(assets/ja.svg);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    width: 15vw;
    height: 4vw;
    top: 25vw;
    left: 64vw;
    z-index: 1;

}

#no_btn {
    background-image: url(assets/nej.svg);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    width: 15vw;
    height: 4vw;
    top: 25vw;
    left: 47vw;
    z-index: 1;

}
